<form action="/admin" method="POST">
  <input type="text" name="candidate1" id="candidate1" placeholder="CANDIDATE 1 Vote Count"/><br><br>
  <input type="text" name="candidate2" id="candidate2" placeholder="CANDIDATE 2 Vote Count"/><br><br>
  <input type="text" name="candidate3" id="candidate3" placeholder="CANDIDATE 3 Vote Count"/><br><br>
  <input type="text" name="candidate4" id="candidate4" placeholder="CANDIDATE 4 Vote Count"/><br><br>
  <p>Total Votes: <%= voteCount %></p>
  <button type="submit">Update Vote Counts</button>
</form>
