

<input type="text" name="username" id="username" placeholder="USERNAME"/><br><br>
<input type="password" name="password" id="password" placeholder="PASSWORD"/><br><br>
<form action="/" method="POST">
<button type="submit">LOGIN</button>
</form><br>
<form action="/register" method="GET">
<button type="submit">REGISTER</button>
</form>