
<form action="/register" method="POST">
<input type="text" name="username" id="username" placeholder="USERNAME"/><br><br>
<input type="password" name="password" id="password" placeholder="PASSWORD"/><br><br>
<input type="email" name="email" id="email" placeholder="EMAIL ID"/><br><br>
<input type="number" name="phone" id="phone" placeholder="PHONE NO."/><br><br>
<button type="submit">REGISTER</button>
</form>