<form action="/vote" method="POST">
  <input type="radio" name="candidate" id="candidate1" value="Candidate 1" /><label for="candidate1">Candidate 1</label> <br><br>
  <input type="radio" name="candidate" id="candidate2" value="Candidate 2" /><label for="candidate2">Candidate 2</label><br><br>
  <input type="radio" name="candidate" id="candidate3" value="Candidate 3" /><label for="candidate3">Candidate 3</label><br><br>
  <input type="radio" name="candidate" id="candidate4" value="Candidate 4" /><label for="candidate4">Candidate 4</label><br><br>
  <button type="submit">VOTE</button>
</form>
